{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link  href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link  href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i&amp;subset=cyrillic" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'assets/style.css' %}">
</head>

<body>
  
 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column align-items-center justify-content-center">
    <h1>Hi, I'm Anita!</h1>
    <h2 > Full Stack Developer </h2>
      <div  class="contact ">
        <div class="social-links">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>    
      </div>
  </section><!-- End Hero -->

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1><a href="index.html">PORTFOLIO</a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#skills">Skills</a></li>
          <li><a class="nav-link scrollto" href="#resume">Resume</a></li>
          <li><a class="nav-link scrollto" href="#services">Certificate</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- start About Section -->
    <section id="about" class="about">
      <div class="container">
        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Full Stack Web Developer</h3>
              <p>
                I'm Anita Patil, an aspiring developer ready to embark on a journey in the world of technology.
                Certain skills that I have learned Frontend, Backend  as well as Databases and created some projects 
                using these technologies. I'm excited to contribute and grow in the dynamic world of Full Stack Development.
              </p>
              <div class="row">
                <div class="row mb-3">
                  <div class="col-sm-6 py-2"><h6>Name : <span class="text-secondary">Anita Patil</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Birthday : <span class="text-secondary">28 Jan 2004</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Age : <span class="text-secondary">20 years</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Phone : <span class="text-secondary">900000000</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Degree : <span class="text-secondary">Bachelors</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Study : <span class="text-secondary">Mumbai University</span></h6></div>                
                  <div class="col-sm-6 py-2"><h6>Email : <span class="text-secondary">anita@example.com</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Address : <span class="text-secondary">Nerul Navi Mumbai</span></h6></div>
              </div>
              </div>
            </div><!-- End content-->
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

     <!-- ======= Skills Section ======= -->
     <section id="skills" class="skills section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Skills</h2>
            <p> Certain skills that I have learned Frontend (HTML, CSS, JavaScript, and their Framework Bootstrap),
              Backend (PYTHON, Django) as well as Databases (MySQL, MongoDB) and created some projects 
              using these technologies.</p>
          </div>
          <div class="row skills-content">
            <div class="col-lg-6">
              <div class="progress">
                <span class="skill">PYTHON<i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill">HTML <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill">CSS <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill"> JAVASCRIPT <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="progress">
                <span class="skill">DJANGO <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill">MYSQL <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill"> BOOTDTRAP <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill"> MONGODB <i class="val">50%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Skills Section -->
  
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Resume</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Anita Patil </h4>
                <p><em>Motivated IT student eager to apply classroom learning to real-world
                  scenarios. Seeking an internship at [Company/Organization] to
                  contribute to innovative projects and gain hands-on experience in WEB
                  DEVELOPMENT
                  </em></p>
                <p>
                <ul>
                  <li>Nerul Navi Mumbai</li>
                  <li>9000000000</li>
                  <li>anitapatil2814@example.com</li>
                </ul>
                </p>
              </div>
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Master in Full Stack Web Development</h4>
                <h5>2024 - present</h5>
                <p><em>IT Vedant (Vashi, Navi Mumbai)</em></p>
              </div>
              <div class="resume-item">
                <h4>Bachelor of Science in Information Technology</h4> 
                <h5>YEAR OF PASSING : 2025</h5>
                <p><em>CGPA : 9.8</em></p>
                <p><em>SIES College of Arts,Science and Commerce</em></p>
              </div>
              <div class="resume-item">
                <h4> Higher Secondary School Certificate(HSC)</h4> 
                <h5>YEAR OF PASSING : 2022</h5>
                <p><em>PERCENTAGE : 68.67%</em></p>
                <p><em> S. S. High School (Nerul,Navi Mumbai)</em></p>
              </div>
              <div class="resume-item">
                <h4>Secondary School Certificate(SSC)</h4> 
                <h5>YEAR OF PASSING : 2020</h5>
                <p><em>PERCENTAGE : 86%</em></p>
                <p><em>Samaj Vikas Vidyalaya(Sangli)</em></p>
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="resume-title">Projects</h3>
              <div class="resume-item">
                <h4>Student Management System</h4>
                <p><em>This project aims to provide Student information, Staff information as well as Hod information </em></p>
                <p>
                <ul>
                  <li>Tools : Visual Studio Code</li>
                  <li>Languages use: BootStrap, Django, Python, MySql</li>
                </ul>
                </p>
              </div>
              <div class="resume-item">
                <h4>Ecomm application</h4>
                <p><em>This project is simple django application that provides product information with login functionality</em></p>
                <p>
                <ul>
                  <li>Tools : Visual Studio Code</li>
                  <li>Languages use: BootStrap, Django, Python, MySql</li>
                </ul>
                </p>
              </div>
              <div class="resume-item">
                <h4>TO-DO LIST</h4>
                <p><em>This project is a simple Django application that provides a ToDo list with various functionality for task management.</em></p>
                <p>
                <ul>
                  <li>Tools : Visual Studio Code</li>
                  <li>Languages use: HTML,CSS, Python, Django, MySql</li>
                </ul>
                </p> 
              </div>
              <div class="resume-item">
                <h4>Login page (Backend)</h4>
                <p><em>This project is a simple Django application that provides a login page with various authentication features.</em></p>
                <p>
                <ul>
                  <li>Tools : Visual Studio Code</li>
                  <li>Languages use: HTML,CSS, JavaScript, Python, Django ,MySql</li>
                </ul>
                </p>
              </div>
              <div class="resume-item">
                <h4>Pet website</h4>
                <p><em>This project is a simple website that provides a Dog, Cat, Bird information for web development</em></p>
                <p>
                <ul>
                  <li>Tools : Visual Studio Code</li>
                  <li>Languages use: HTML, CSS, JavaScript, BootStrap</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Resume Section -->
  
 <!-- ======= Certificate Section ======= -->
 <section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Certificate</h2>
    </div>
    <div class="row">
      <li>Python For Web Development (IBM)&nbsp;<a href="https://drive.google.com/drive/u/0/folders/1CqIYZnxmePrP2gpDYH1cqUF09io6uVEo" target=”_blank” >[Link]</a></li>
      <li>Programming Foundation &amp; SQL&nbsp;<a href="https://drive.google.com/drive/u/0/folders/1CqIYZnxmePrP2gpDYH1cqUF09io6uVEo" target=”_blank” >[Link]</a></li>
      <li>Advanced SQL &amp; MongoDB&nbsp;<a href="https://drive.google.com/drive/u/0/folders/1CqIYZnxmePrP2gpDYH1cqUF09io6uVEo" target=”_blank” >[Link]</a></li>
      <li>Web Designing Basics&nbsp;<a href="https://drive.google.com/drive/u/0/folders/1CqIYZnxmePrP2gpDYH1cqUF09io6uVEo" target=”_blank” >[Link]</a></li>
      <li>Advanced Web Designing&nbsp;<a href="https://drive.google.com/drive/u/0/folders/1CqIYZnxmePrP2gpDYH1cqUF09io6uVEo" target=”_blank” >[Link]</a></li>
      <li>PYTHON &amp; DJANGO FRAMEWORK&nbsp;<a href="https://drive.google.com/drive/u/0/folders/1CqIYZnxmePrP2gpDYH1cqUF09io6uVEo" target=”_blank” >[Link]</a></li>
    </div>
  </div>
</section><!-- End Certificate Section -->

  
  
      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Portfolio</h2>
            <p>This section include all my projects </p>
          </div>
  
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-web ">Web</li>
                <li data-filter=".filter-card">CURD</li>
                <li data-filter=".filter-app">Personal</li>
                <li data-filter=".filter-front">Frontend</li>
                <li data-filter=".filter-back">Backend</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
   
            <div class="col-lg-4 col-md-6 portfolio-item filter-web filter-back">
              <div class="portfolio-wrap">
                <img src="{% static 'assets/img/portfolio/stud.png' %}" class="img-fluid" alt="">
                  <div class="portfolio-info">
                  <h4>Student Management System</h4>
                  <p>Web</p>
                </div>
                <div class="portfolio-links">
  
                  <a href="{% static 'assets/img/portfolio/stud.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Student Management System"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/ANITAPATIL2814/Student-Management-System" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-card filter-back">
              <div class="portfolio-wrap">
                <img src="{% static 'assets/img/portfolio/login2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Login page(Backend)</h4>
                  <p>CURD</p>
                </div>
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/login2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Login page(Backend)"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/ANITAPATIL2814/Login-Page-Backend-" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web filter-back">
              <div class="portfolio-wrap">
                <img src="{% static 'assets/img/portfolio/pets2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Pet website(Backend)</h4>
                  <p>Web</p>
                </div>
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/pets2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Pet website(Backend)"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/ANITAPATIL2814/PET-WEBSITE-Backend-" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>

            

            <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-back">
              <div class="portfolio-wrap">
                <img src="{% static 'assets/img/portfolio/portfolio2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Portfolio(Backend)</h4>
                  <p>Personal</p>
                </div>
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/portfolio2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Portfolio(Backend)"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/ANITAPATIL2814/Portfolio-Backend-" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app filter-front">
              <div class="portfolio-wrap">
                <img src="{% static 'assets/img/portfolio/portfolio1.webp' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Portfolio(Frontend)</h4>
                  <p>Personal</p>
                </div>
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/portfolio1.webp' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Portfolio(Frontend)"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/ANITAPATIL2814/Portfolio" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web filter-back">
              <div class="portfolio-wrap">
                <img src="{% static 'assets/img/portfolio/ecomm.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Ecommerce Application(Backend)</h4>
                  <p>Web</p>
                </div>
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/ecomm.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Ecommerce Application(Backend)"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/ANITAPATIL2814/Ecomm-application" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-card filter-front">
              <div class="portfolio-wrap">
                <img src="{% static 'assets/img/portfolio/login.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Login page(Frontend)</h4>
                  <p>CURD</p>
                </div>
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/login.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Login page(Frontend)"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/ANITAPATIL2814/LOGIN-PAGE-" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-card filter-back ">
              <div class="portfolio-wrap">
                <img src="{% static 'assets/img/portfolio/todo.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>To do list</h4>
                  <p>CURD</p>
                </div>
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/todo.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="To do list"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/ANITAPATIL2814/TODO-LIST-PYTHON" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web filter-front">
              <div class="portfolio-wrap">
                <img src="{% static 'assets/img/portfolio/pets.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Pet website(Frontend)</h4>
                  <p>Web</p>
                </div>
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/pets.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Pet website(Frontend)"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/ANITAPATIL2814/PET-WEBSITE" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
            
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Contact</h2>
          </div>
  
          <div class="row">
            <div class="col-sm-6 no-padding">
              <iframe style="width: 100%; height: 500px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-lg-5 col-md-8">
              <form action="{% url 'contact' %}" method="post" role="form">
                {% csrf_token %}
                
                <div class="form-group">
                  <h5>Your Name : </h5>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Enter Your Name..." required>
                </div>
                <div class="form-group mt-3">
                  <h5>Your Email : </h5>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email..." required>
                </div>
                
                <div class="form-group mt-3">
                  <h5>Your Message : </h5>
                  <textarea class="form-control" name="message" rows="5" placeholder="Enter Your Message..." required></textarea>
                </div>
                <!--for printing success on product_details.html-->
        {% if success %}
        <div class="alert alert-success mt-4">
            {{success}}
        </div>
        {% endif %}
                <div   class="text-center "><button  style="background-color: #d43076; border-radius: 50px; border: 0;
                  padding: 10px 24px; 
                  color: #fff;
                  transition: 0.4s; margin-top: 20px;" type="submit" >Send Message</button></div>
              </form>
              
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
  
  <!-- ======= Footer ======= -->
 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Anita</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Anita Patil</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>


  <!-- Template Main JS File -->
  <script src="{% static 'assets/main.js' %}"></script>

</body>

</html>